body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

.navBar {
  border: 1px solid transparent;
  padding: 5px;
  box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.477);
  position: fixed;
  width: 100%;
  top: 0;
}

.fa-bars {
  position: relative;
  z-index: 999;
}

.CompanyLogo img {
  width: 150px;
  height: 40px;
}

.navBar-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Icons {
  padding-left: 20px;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.SignIn {
  padding-right: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#NavBar {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.NavMenu {
  border: 1px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 40px 0px;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.7s ease all;
}

#NavBar:checked ~ .NavMenu {
  transform: translateX(0%);
  opacity: 1;
  transition: 0.7s ease all;
}

.NavMenu img {
  width: 200px;
  height: 70px;
  margin: auto;
}

#products,
#solutions {
  position: absolute;
  opacity: 0;
}

.FirstAccordion,
.SecondAccordion {
  height: 0px;
  overflow: hidden;
  transition: 0.6s ease all;
  background-color: rgba(227, 227, 227, 0.79);
}

.FirstAccordion ul li {
  margin-top: 20px;
  padding-left: 10px;
}

.SecondAccordion ul li {
  margin-top: 20px;
  padding-left: 10px;
}

#products:checked ~ .FirstAccordion {
  height: 200px;
  transition: 0.6s ease all;
}

#products:checked + label .fa-chevron-down {
  transition: 0.6s ease all;
  transform: rotate(180deg);
}

#solutions:checked ~ .SecondAccordion {
  height: 200px;
  transition: 0.6s ease all;
}

#solutions:checked + label .fa-chevron-down {
  transition: 0.6s ease all;
  transform: rotate(180deg);
}

.other-options ul li {
  padding: 5px;
  margin-top: 5px;
}

.NavBarUl li span {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.NavBarUl li span::before {
  content: "";
  border: 1px solid transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  transition: 0.7s ease all;
  transform: translateX(-100%);
}

.NavBarUl li span:hover::before {
  transition: 0.7s ease all;
  transform: translateX(0%);
}

.ProductData,
.SolutionData {
  border: 2px solid green;
  position: absolute;
  width: 200px;
  height: 200px;
  bottom: -210px;
  background-color: white;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.7s ease all;
  pointer-events: none;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0.5px rgba(0, 0, 0, 0.505);
}

.ProductData ul li {
  position: relative;
  margin-top: 10px;
}

.SolutionData ul li {
  position: relative;
  margin-top: 10px;
}

.ProductLi:hover .ProductData,
.ProductData:hover {
  border: 2px solid green;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
}

.SolutionLi {
  position: relative;
}

.SolutionLi:hover .SolutionData,
.SolutionData:hover {
  border: 2px solid green;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  visibility: visible;
}

.DesignSubHead {
  font-family: "Roboto", sans-serif;
  color: rgba(94, 94, 94, 0.765);
}

.DesignOne, .DesignTwo, .DesignThree, .DesignFour, .DesignFive, .DesignSix {
  box-shadow: 0px 0px 20px 0.2px rgba(0, 0, 0, 0.432);
  border-radius: 10px;
  overflow: hidden;
}

.DesignCards {
  font-family: "Roboto", sans-serif;
}

.imgsectionOne, .imgsectionTwo, .imgsectionThree, .imgsectionFour, .imgsectionFive, .imgsectionSix {
  height: 350px;
  border: 1px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgsectionOne {
  background-image: url(https://www.nvidia.com/content/dam/en-zz/Solutions/learn/learning-path/openusd/learn-openusd-og-1200x630.jpg);
}


.imgsectionTwo {
  background-image: url(https://gam3s.gg/_next/image/?url=https%3A%2F%2Fassets.gam3s.gg%2FNvidia_Unveils_AI_Blueprint_to_Transform_Video_Analysis_e79e3f368a.png&w=3840&q=75);
}


.imgsectionThree {
  background-image: url(https://blogs.nvidia.com/wp-content/uploads/2025/09/UK-Visit-MAT10296_isp.jpg);
}


.imgsectionFour {
  background-image: url(https://aousd.org/wp-content/uploads/sites/28/2024/08/unnamed-3-1024x677.png);
}


.imgsectionFive {
  background-image: url(https://blogs.nvidia.com/wp-content/uploads/2025/05/PRESS-ov-cptx25-ai-factory-digital-twin-press-1600x900-2.png);
}


.imgsectionSix {
  background-image: url(https://developer-blogs.nvidia.com/wp-content/uploads/2025/05/nvidia-air-topology-1.png);
}

